/* styles.css */
body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

canvas {
    height: 400px;
}
